@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-semi_light dark:bg-semi_bold;
  }
  .input-underline {
    @apply border-b border-b-bold dark:border-b-light;
  }
}

html,
body {
  min-width: fit-content;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ql-toolbar {
  @apply !border-none !bg-semi_light dark:!bg-bold  rounded
  flex gap-2 flex-wrap justify-center items-center 
  shadow !w-fit mx-auto;
}

.ql-picker-label {
  @apply !text-semi_bold;
}
.ql-picker-label.ql-active {
  @apply !text-bold dark:!text-light;
}

.ql-stroke {
  @apply !stroke-semi_bold;
}

.ql-active .ql-stroke {
  @apply !stroke-bold dark:!stroke-light;
}

.ql-blank::before {
  @apply !text-semi_bold dark:!text-semi_light;
}

.ql-editor {
  @apply relative;
}

.ql-formats {
  @apply !flex !justify-center !items-center !mr-0;
}
